* {
    box-sizing: border-box;
    margin: 0;
    padding: 0%;
    color: white;
    font-family: sans-serif;
    overflow: hidden;
    transition: color 0.15s, background 0.15s;
    background: rgb(30, 30, 33);
    text-decoration: none;
    --windows-blue: rgb(65, 115, 208);
    /* --windows-light-gray: rgb(84, 84, 84); */
    --windows-light-gray: rgb(80, 79, 86);
    --windows-dark-gray: rgb(65, 64, 71);
    cursor: default;
}
/* ::selection {
    background: transparent;
} */
/*ↈ*/
/* 1401/07/09 */
.calculator div,
.calculator p {
    border: 0px solid black;
}
.calculator {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 6% 6% 20% 5% 63%;
    grid-template-areas:
        "header     header"
        "standard   standard"
        "calculate  calculate"
        "mode       mode"
        "numbers    numbers";
}
.header {
    grid-area: header;
    display: grid;
    grid-template-columns: 33px 77px auto 44px 44px 44px;
    grid-template-rows: auto;
    padding: 6px;
}
.header div {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.9rem;
}
.header div:last-child {
    padding-bottom: 3px;
}
.standard {
    grid-area: standard;
    font-size: 0;
    display: grid;
    grid-template-columns: auto 45px;
    grid-template-rows: 100%;
}
.standard-1 {
    margin: 4px 6px;
}
.standard-1 p,
.standard-2 {
    font-size: 1.2rem;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
}
.standard-1 p {
    padding: 7px;
    height: 100%;
}
.standard-2 {
    visibility: visible;
    padding: 0;
    margin: 4px 6px;
}
div.standard-2 a {
    padding: 5px;
}
.standard-1 p:first-child {
    transform: rotate(90deg);
}
.standard-1 p:last-child {
    font-size: 1.1rem;
    position: relative;
    top: -2px;
    left: 4px;
}
#calculate {
    grid-area: calculate;
    font-size: 2.8rem;
    padding: 20px 10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
/* #calculate-history{
    position: absolute;
    color: var(--windows-light-gray);
    font-size: 15px;
    top: 12px;
    right: 5px;
} */
.mode {
    grid-area: mode;
    font-size: 0;
    max-width: 400px;
    margin-bottom: 1px;
}
.mode div {
    font-size: 16px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 20%;
    border-radius: 4px;
}
.mode div:nth-child(1),
.mode div:nth-child(2) {
    color: gray;
}
.history {
    grid-area: history;
}
.history span {
    display: grid;
    grid-template-columns: 70px 70px auto;
    grid-template-rows: 25px 10px;
}
.history span div {
    display: flex;
    justify-content: center;
    align-items: center;
}
.history span hr {
    width: 17px;
    border: 2px solid var(--windows-blue);
    border-radius: 10px;
    background: var(--windows-blue);
}
.history p {
    padding: 20px 0 0 10px;
}
.numbers {
    grid-area: numbers;
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: repeat(6, auto);
    grid-gap: 2px;
    padding: 2px;
}
.numbers div {
    background: var(--windows-dark-gray);
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
div.num {
    background: var(--windows-light-gray);
}
.numbers div:hover {
    background: var(--windows-light-gray);
}
div.num:hover {
    background: var(--windows-dark-gray);
}
.numbers div:last-child {
    background: var(--windows-blue);
    color: black;
}
.header div:last-child:hover {
    background: rgba(255, 31, 31, 0.708);
}
.numbers div:last-child:hover {
    background: var(--windows-blue);
    opacity: 0.85;
}
.btn-hover,
.header div:last-child:hover {
    cursor: pointer;
}
.btn-hover:hover {
    background: rgba(84, 84, 84, 0.73);
}
.btn-hover:active,
.numbers div:active,
.numbers div:last-child:active,
.header div:last-child:active,
div.history span div:nth-child(1):hover,
div.history span div:nth-child(2):hover {
    opacity: 0.7;
}
@media screen and (min-width: 555px) {
    .calculator {
        grid-template-columns: 60% 40%;
        grid-template-rows: 6% 6% 18% 7% 63%;
        grid-template-areas:
            "header     header"
            "standard   history"
            "calculate  history"
            "mode       history"
            "numbers    history";
    }
    .standard-2 {
        visibility: hidden;
    }
}
@media screen and (min-width: 790px) {
    .calculator {
        grid-template-columns: auto 320px;
    }
}
@media screen and (min-width: 790px) {
    .numbers {
        font-size: 20px;
    }
}
