* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
  color: var(--main-color);
  transition: var(--transition);
  font-family: var(--font-family);
  font-style: normal;
  cursor: default;
}

::selection {
  background: transparent;
}

body {
  height: max(100vh, 410px);
  width: max(100%, 250px);
}

@media screen and (min-width: 550px) {
  .calculator {
    grid-template-columns: 57% 43% !important;
    grid-template-rows: 28px 6fr 18fr 7fr 65fr !important;
    grid-template-areas: "header     header" "standard   history" "calculate  history" "memory-btns       history" "keys    history" !important;
  }
  .standard__right {
    visibility: hidden !important;
  }
  .history {
    display: block !important;
  }
  .calculator .history {
    display: grid !important;
  }
}
@media screen and (min-width: 740px) {
  .calculator {
    grid-template-columns: auto 320px !important;
  }
}
@media screen and (min-width: 1024px) {
  .key {
    display: inline-flex !important;
  }
  .keys {
    grid-template-columns: repeat(5, 1fr) !important;
    grid-template-rows: repeat(5, 1fr) !important;
  }
}
@media screen and (max-height: 620px) {
  .keys {
    grid-template-columns: repeat(4, 1fr) !important;
    grid-template-rows: repeat(6, 1fr) !important;
  }
  .key:nth-child(16) {
    display: none !important;
  }
}
.calculator {
  height: 100%;
  display: grid;
  grid-template-columns: 100%;
  /* grid-template-rows: 4% 6% 20% 5% 65%; */
  grid-template-rows: 28px 6fr 20fr 5fr 65fr;
  grid-template-areas: "header     header" "standard   standard" "calculate  calculate" "memory-btns       memory-btns" "keys    keys";
  background: var(--background);
}

.header {
  grid-area: header;
  display: flex;
  justify-content: space-between;
  padding-left: 14px;
}
.header div {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.9rem;
  font-family: sans-serif;
}
.header__app-name {
  margin-top: 5px;
}
.header__windows-nav div {
  width: 44px;
  height: 100%;
}
.header__windows-nav div:last-child {
  padding-bottom: 3px;
}
.header__windows-nav div:last-child:hover {
  background: rgb(218, 60, 60);
  color: white;
}
.header__windows-nav div:hover {
  cursor: default;
}

#change-theme {
  font-family: sans-serif;
}

.standard {
  grid-area: standard;
  font-size: 0;
  display: grid;
  grid-template-columns: auto 45px;
  grid-template-rows: 100%;
}
.standard__left {
  display: flex;
  align-items: center;
}
.standard__left__element, .standard__right {
  font-size: 1.2rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: var(--radius-btns);
}
.standard__left__element:first-child, .standard__right:first-child {
  transform: rotate(90deg);
  width: 40px;
  height: 40px;
}
.standard__left__element:last-child, .standard__right:last-child {
  font-size: 1.1rem;
  margin-left: 7px;
}
.standard__right {
  visibility: visible;
}
.standard__right__element {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--radius-btns);
}

.calculate {
  grid-area: calculate;
  display: flex;
  flex-direction: column;
  padding: 10px;
  overflow: hidden;
}
.calculate div {
  display: flex;
  justify-content: end;
  align-items: center;
}
.calculate__temp-history {
  color: gray;
  font-weight: 100;
  padding-right: 10px;
  height: 28px;
  white-space: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
}
.calculate__output {
  height: 100%;
  font-size: 4rem;
  font-weight: 600;
}

.memory-btns {
  grid-area: memory-btns;
  font-size: 0;
  max-width: 400px;
  margin-bottom: 1px;
}
.memory-btns div {
  font-size: 0.8rem;
  font-weight: 600;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 20%;
  border-radius: var(--radius-btns);
}
.memory-btns div:nth-child(1) {
  color: gray;
}
.memory-btns div:nth-child(2) {
  color: gray;
}

.history {
  grid-area: history;
  font-weight: 600;
  font-size: 0.8rem;
  letter-spacing: -0.1px;
  display: none;
  grid-template-rows: 34px auto 47px;
  gap: 10px;
}
.history__nav {
  display: grid;
  grid-template-columns: 90px 90px auto;
  grid-template-rows: 25px 8px;
}
.history__nav div {
  display: flex;
  justify-content: center;
  align-items: center;
}
.history__nav hr {
  width: 53px;
  border: 1px solid var(--line-color);
  border-radius: 10px;
  background: var(--line-color);
  transition: 0.2s;
}

#empty-history {
  padding-left: 12px;
  font-size: 0.9rem;
}

#calc-history {
  padding-top: 7px;
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
}
#calc-history::-webkit-scrollbar {
  width: 10px;
  background: transparent;
}
#calc-history::-webkit-scrollbar-track {
  background: transparent;
}
#calc-history::-webkit-scrollbar-thumb {
  background: var(--dark-key-color);
  height: 100px;
  border-radius: 10px;
  outline: 2px solid var(--background);
  outline-offset: -2px;
  transition: 0.5s;
}
#calc-history::-webkit-scrollbar-thumb:hover {
  background: var(--btn-hover);
  outline: 1px solid var(--background);
  outline-offset: -1px;
}

.history-box {
  background: var(--background);
  margin: 5px;
  border-radius: var(--radius-btns);
  z-index: 1;
  transition: 0.2s;
}
.history-box div {
  background: transparent;
  display: flex;
  justify-content: right;
  padding-right: 12px;
  font-weight: 100;
}
.history-box__tempHistory {
  color: gray;
  height: 30px;
  padding: 10px;
  white-space: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
}
.history-box__calculateOutput {
  font-size: 1.4rem;
  height: 35px;
  padding-top: 3px;
}
.history-box:hover {
  background: var(--btn-hover);
}

.memory-box {
  background: var(--background);
  margin: 5px;
  border-radius: var(--radius-btns);
  z-index: 1;
  transition: 0.2s;
}
.memory-box > div {
  background: transparent;
  display: flex;
  justify-content: right;
  padding-right: 12px;
  font-weight: 100;
}
.memory-box__number {
  padding: 7px 12px 2px;
  font-size: 1.4rem;
}
.memory-box__btns {
  height: 33px;
}
.memory-box__btns div {
  border-radius: var(--radius-btns);
  padding: 5px 7px;
  margin-left: 1px;
  display: none;
  background: var(--light-key-color);
  transition: var(--transition);
  font-size: 0.9rem;
  height: 28px;
  cursor: pointer;
}
.memory-box__btns div:hover {
  background: var(--btn-hover);
}
.memory-box__btns div:active {
  background: var(--active);
}
.memory-box:hover {
  background-color: var(--dark-key-color);
}
.memory-box:hover .memory-box__btns div {
  display: flex;
}

.history-delete {
  background: var(--background);
  z-index: 3;
  display: flex;
  justify-content: end;
}
.history-delete__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3px 8px;
  margin: 5px;
  font-weight: 100;
  border-radius: var(--radius-btns);
  background: var(--background);
  cursor: pointer;
}

.keys {
  grid-area: keys;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(6, 1fr);
  grid-gap: 2px;
  padding: 2px;
}

.key {
  font-style: var(--font-style);
  background: var(--dark-key-color);
  border-radius: var(--radius-keys);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.key:hover {
  background: var(--key-hover);
}
.key:active {
  background: var(--active);
  opacity: 0.7;
}
.key:nth-child(16) {
  display: none;
}

.lighter-key {
  background: var(--light-key-color);
  font-weight: 600;
  font-size: 1.5rem;
}

.btn-hover {
  cursor: pointer;
}
.btn-hover:hover {
  background: var(--btn-hover);
}

.extra-large {
  font-size: 1.8rem;
}

.btn-hover:active,
div.history-box:active,
div.memory-box__btns div:active,
.history-delete__btn:active,
.key:last-child:active,
.header__windows-nav div:last-child:active,
.history__nav div:nth-child(1):hover,
.history__nav div:nth-child(2):hover {
  opacity: 0.7;
}/*# sourceMappingURL=style.css.map */