* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
    color: var(--main-color);
    transition: var(--transition);
    font-family: var(--font-family);
    font-style: normal;
    cursor: default;
}

::selection {
    background: transparent;
}

body {
    height: max(100svh, 410px);
    width: max(100%, 250px);
}

a {
    text-decoration: none;
}
