@media screen and (min-width: 550px) {
    .calculator {
        grid-template-columns: 57% 43% !important;
        grid-template-rows: 28px 6fr 18fr 7fr 65fr !important;
        grid-template-areas:
            "header     header"
            "standard   history"
            "calculate  history"
            "memory-btns       history"
            "keys    history" !important;
    }
    .standard__right {
        visibility: hidden !important;
    }
    .history {
        display: block !important;
    }
    .calculator .history {
        display: grid !important;
    }
}

@media screen and (min-width: 740px) {
    .calculator {
        grid-template-columns: auto 320px !important;
    }
}

@media screen and (min-width: 1024px) {
    .key {
        display: inline-flex !important;
    }
    .keys {
        grid-template-columns: repeat(5, 1fr) !important;
        grid-template-rows: repeat(5, 1fr) !important;
    }
}

@media screen and (max-height: 620px) {
    .keys {
        grid-template-columns: repeat(4, 1fr) !important;
        grid-template-rows: repeat(6, 1fr) !important;
    }
    .key:nth-child(16) {
        display: none !important;
    }
}
