@media screen and (min-width: 550px) {
    div.calculator {
        grid-template-columns: 57% 43%;
        grid-template-rows: 28px 7fr 24fr 6fr 58.51fr;
        grid-template-areas:
            "header            header"
            "standard          history"
            "calculate         history"
            "memory-btns       history"
            "keys              history";
    }
    div.standard__right {
        visibility: hidden;
    }
    div.history {
        display: block;
    }
    div.calculator .history {
        display: grid;
    }
}

@media screen and (min-width: 740px) {
    div.calculator {
        grid-template-columns: auto 320px;
    }
}

@media screen and (min-width: 1024px) {
    div.key {
        display: inline-flex !important;
    }
    div.keys {
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(5, 1fr);
    }
}

@media screen and (max-height: 620px) {
    div.keys {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(6, 1fr);
    }
    div.key:nth-child(16) {
        display: none !important;
    }
}
