@import "config";
@import "header";
@import "standard";
@import "calculate";
@import "keys";
@import "history";
@import "memory";
@import "svg-color";
@import "media";

.calculator {
    height: 100%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 28px 7fr 24fr 6fr 58.51fr;
    grid-template-areas:
        "header         header"
        "standard       standard"
        "calculate      calculate"
        "memory-btns    memory-btns"
        "keys           keys";
    background: var(--background);
}
