@import "config";
@import "media";

.calculator {
    height: 100%;
    display: grid;
    grid-template-columns: 100%;
    /* grid-template-rows: 4% 6% 20% 5% 65%; */
    // grid-template-rows: 28px 6fr 20fr 5fr 65fr;
    grid-template-rows: 28px 7fr 24fr 6fr 58.51fr;
    grid-template-areas:
        "header         header"
        "standard       standard"
        "calculate      calculate"
        "memory-btns    memory-btns"
        "keys           keys";
    background: var(--background);
}

.header {
    grid-area: header;
    display: flex;
    justify-content: space-between;
    padding-left: 14px;

    div {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 0.9rem;
        font-family: sans-serif;
    }

    &__app-name {
        margin-top: 5px;
    }

    &__windows-nav div {
        width: 44px;
        height: 100%;

        &:last-child {
            padding-bottom: 3px;

            &:hover {
                background: rgb(218, 60, 60);
                color: white;
            }
        }

        &:hover {
            cursor: default;
        }
    }
}

#change-theme {
    font-family: sans-serif;
}

.standard {
    grid-area: standard;
    font-size: 0;
    display: grid;
    grid-template-columns: auto 45px;
    grid-template-rows: 100%;

    &__left {
        display: flex;
        align-items: center;

        &__element {
            font-size: 1.2rem;
            display: inline-flex;
            justify-content: center;
            align-items: center;
            border-radius: var(--radius-btns);

            &:first-child {
                transform: rotate(90deg);
                width: 40px;
                height: 40px;
            }

            &:nth-child(2) {
                font-size: 1.1rem;
                margin-left: 7px;
                width: 72px;
            }
        }
    }

    &__right {
        @extend .standard__left__element;
        visibility: visible;

        &__element {
            width: 40px;
            height: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: var(--radius-btns);
        }
    }
}

.svg-color {
    overflow: hidden;
    display: flex;

    path {
        transition: var(--transition);
        fill: var(--svg-color);
    }
}

.calculate {
    grid-area: calculate;
    display: flex;
    flex-direction: column;
    padding: 10px;
    overflow: hidden;

    & div {
        display: flex;
        justify-content: end;
        align-items: center;
    }

    &__temp-history {
        color: gray;
        font-weight: 100;
        padding-right: 10px;
        height: 28px;
        white-space: nowrap;
        overflow-x: auto;
        overflow-y: hidden;
    }

    &__output {
        height: 100%;
        font-size: 4rem;
        font-weight: 600;
    }
}

.memory-btns {
    grid-area: memory-btns;
    font-size: 0;
    max-width: 400px;
    margin-bottom: 1px;

    & div {
        font-size: 0.8rem;
        font-weight: 600;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 20%;
        border-radius: var(--radius-btns);

        &:nth-child(1) {
            color: gray;
        }

        &:nth-child(2) {
            color: gray;
        }
    }
}

.history {
    grid-area: history;
    font-weight: 600;
    font-size: 0.8rem;
    letter-spacing: -0.1px;
    display: none;
    grid-template-rows: 34px auto 47px;
    gap: 10px;

    &__nav {
        display: grid;
        grid-template-columns: 90px 90px auto;
        grid-template-rows: 25px 8px;

        div {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        hr {
            width: 53px;
            border: 1px solid var(--line-color);
            border-radius: 10px;
            background: var(--line-color);
            transition: 0.2s;
        }
    }
}

#empty-history {
    padding-left: 12px;
    font-size: 0.9rem;
}

#calc-history {
    padding-top: 7px;
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;

    &::-webkit-scrollbar {
        width: 10px;
        background: transparent;

        &-track {
            background: transparent;
        }

        &-thumb {
            background: var(--dark-key-color);
            height: 100px;
            border-radius: 10px;
            outline: 2px solid var(--background);
            outline-offset: -2px;
            transition: 0.5s;

            &:hover {
                background: var(--btn-hover);
                outline: 1px solid var(--background);
                outline-offset: -1px;
            }
        }
    }
}

.history-box {
    background: var(--background);
    margin: 5px;
    border-radius: var(--radius-btns);
    z-index: 1;
    transition: all 0.3s;

    & div {
        background: transparent;
        display: flex;
        justify-content: right;
        padding-right: 12px;
        font-weight: 100;
    }

    &__tempHistory {
        color: gray;
        height: 30px;
        padding: 10px;
        white-space: nowrap;
        overflow-x: auto;
        overflow-y: hidden;
    }

    &__calculateOutput {
        font-size: 1.4rem;
        height: 35px;
        padding-top: 3px;
    }

    &:hover {
        background: var(--btn-hover);
    }
}

.memory-box {
    background: var(--background);
    margin: 5px;
    border-radius: var(--radius-btns);
    z-index: 1;
    transition: all 0.3s;

    & > div {
        background: transparent;
        display: flex;
        justify-content: right;
        padding-right: 12px;
        font-weight: 100;
    }

    &__number {
        padding: 7px 12px 2px;
        font-size: 1.4rem;
    }

    &__btns {
        height: 33px;

        & div {
            border-radius: var(--radius-btns);
            padding: 5px 7px;
            margin-left: 1px;
            display: none;
            background: var(--light-key-color);
            transition: var(--transition);
            font-size: 0.9rem;
            height: 28px;
            cursor: pointer;

            &:hover {
                background: var(--btn-hover);
            }

            &:active {
                background: var(--active);
            }
        }
    }

    &:hover {
        background-color: var(--dark-key-color);

        & .memory-box__btns div {
            display: flex;
        }
    }
}

.history-delete {
    background: var(--background);
    z-index: 3;
    display: flex;
    justify-content: end;
    
    &__btn {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 5px 1px 0 1px;
        margin: 5px;
        font-weight: 100;
        border-radius: var(--radius-btns);
        background: var(--background);
        cursor: pointer;
    }
}

.keys {
    grid-area: keys;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-gap: 2px;
    padding: 2px;
}

.key {
    font-style: var(--font-style);
    background: var(--dark-key-color);
    border-radius: var(--radius-keys);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    &:hover {
        background: var(--key-hover);
    }

    &:active {
        background: var(--active);
        opacity: 0.7;
    }

    &:nth-child(16) {
        display: none;
    }
}

.lighter-key {
    background: var(--light-key-color);
    font-weight: 600;
    font-size: 1.5rem;
}

.btn-hover {
    cursor: pointer;

    &:hover {
        background: var(--btn-hover);
    }
}

.extra-large {
    font-size: 1.8rem;
}

.btn-hover:active,
div.history-box:active,
div.memory-box__btns div:active,
.history-delete__btn:active,
.key:last-child:active,
.header__windows-nav div:last-child:active,
.history__nav div:nth-child(1):hover,
.history__nav div:nth-child(2):hover {
    opacity: 0.7;
}
